#### Lester Dann G. Lopez
#### Nueva Vizcaya State University Philippines
#### Date: November 27, 2025

# Exercise 2: Data Exploration and Analysis

![Question](Question.png)

#### Task 1: Create dataframe named df

- used `numpy` library to use `np.nan` to assign Null values.

In [13]:
import pandas as pd
import numpy as np

# Create the dataframe
df = pd.DataFrame({
    "Animal": ["cat", "cat", "snake", "dog", "dog", "cat", "snake", "cat", "dog", "dog"],
    "Age": [2.5, 3, 0.5,np.nan,5,2,4.5,np.nan,7,3],
    "Priority": ["yes", "yes", "no", "yes", "no", "no", "no", "yes", "no", "no"],
    "Visits": [1,3,2,3,2,3,1,1,2,1]
})

- set index to string `abcdefghij` then converts it to List -> ["a", "b", ...."j"]

In [14]:
# Set Index
df.index = list("abcdefghij")

df

  Animal  Age Priority  Visits
a    cat  2.5      yes       1
b    cat  3.0      yes       3
c  snake  0.5       no       2
d    dog  NaN      yes       3
e    dog  5.0       no       2
f    cat  2.0       no       3
g  snake  4.5       no       1
h    cat  NaN      yes       1
i    dog  7.0       no       2
j    dog  3.0       no       1

#### Task 2: Display summary of df basic info

In [15]:
df.describe()

            Age     Visits
count  8.000000  10.000000
mean   3.437500   1.900000
std    2.007797   0.875595
min    0.500000   1.000000
25%    2.375000   1.000000
50%    3.000000   2.000000
75%    4.625000   2.750000
max    7.000000   3.000000